sudo: required
language: python
services:
- docker

script:
- docker build -t $DOCKER_USERNAME/prometheus-exporter-mssql .

deploy:
  provider: script
  script: bash deploy.sh
  on:
    branch: master